<div class="background-top-color row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="headings">Triangular Count</h2>
        <p class="text-padding">
            How many equilateral triangles are there on an eight-fold triangular grid?
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img class="center-block triangle-padding" src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/trans_triangle_zpsdtncrg7f.png" alt="triangle"/>
        <p class="puzzle-text text-center deviderBlock"> Stuck?</p>

    </div>
</div>

<div class="row featurette">
    <div class="col-md-5 ">
        <img class="image-size center-block " src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/Community%20Group_zpsb4f34ban.jpg" alt="Group"/>
    </div>
    <div class="col-md-6">
        <h2 class="featurette-heading">Check <span class="text-muted"> out the discussion room.</span></h2>
        <p class="lead">
            See what other users said about this problem. </br>
            Check out some possible solution. </br>
            Post your own solution and see what others think about it!
            <a class="btn btn-primary button-length" href="#/home">Discussion Room</a>
        </p>
    </div>
</div>
