<div class="row background-top-color">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="headings">True or False?</h1>
    </div>
</div>

<div class="row col-md-8 col-md-offset-2">
    <p class="puzzle-text">
        For each of the numbered statements in the list, decide whether it is true or false:
    </p>
    <p class="puzzle-number-text">
        1. Statement 2 in this list is true. </br>
        2. Statement 1 in this list is false. </br>
        3. Statement 3 in this list is false. </br>
        4. There are two misstakes in statement 4 in this list.
    </p>
    <p class="puzzle-text text-center deviderBlock"> Stuck?</p>
</div>


<div class="row featurette">
    <div class="col-md-5 ">
        <img class="image-size center-block " src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/Community%20Group_zpsb4f34ban.jpg" alt="Group"/>
    </div>
    <div class="col-md-6">
        <h2 class="featurette-heading">Check <span class="text-muted"> out the discussion room.</span></h2>
        <p class="lead">
            See what other users said about this problem. </br>
            Check out some possible solution. </br>
            Post your own solution and see what others think about it!
            <a class="btn btn-primary button-length" href="#/home">Discussion Room</a>
        </p>
    </div>
</div>
