<div class="background-top-color row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="headings">Leapfrogs</h2>
        <p class="text-padding">
            Ten pegs of two colours are laid out in a line of 11 holes as shown.
            We want to interchange the black and white pegs, but we are only allowed
            to move pegs into an adjacent empty hole or to jump over one peg into
            an empty hole. Can we make the interchange?
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img class="image-spacing" src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/Screen%20Shot%202015-03-16%20at%2016.24.31_zpsct4qb4dg.png" border="0" alt=" Frogs"/>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <p class="text-under-image text-center">Try it out now!</p>
        <hr class="featurette-divider">
    </div>
</div>


<div class="row featurette">
    <div class="col-md-5 ">
        <img class="image-size center-block " src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/Community%20Group_zpsb4f34ban.jpg" alt="Group"/>
    </div>
    <div class="col-md-6">
        <h2 class="featurette-heading">Check <span class="text-muted"> out the discussion room.</span></h2>
        <p class="lead">
            See what other users said about this problem. </br>
            Check out some possible solution. </br>
            Post your own solution and see what others think about it!
            <a class="btn btn-primary button-length" href="#/home">Discussion Room</a>
        </p>
    </div>
</div>
