<style>
    body {background-color:#2980b9}
</style>

<div id="ERROReffect" class="bulbScroll">
    <h2 class="headings">Where do we begin ?</h2>

    <div class="row">
        <h2 class="subHeadings"> Text is boring!</h2>
        <div class="divBox col-md-4 col-md-offset-4">

            <p class="text"> We could start with some boring definitions and material,
                 but that's not fun, right?
            </p>
            <p class="textDiv">So let's jump right into it!</p>
        </div>

    </div>

    <div class="row">
        <div>
            <p class="textSpace">Let's start with some simple example!</p>
        </div>
        <div class="divBox col-md-4 col-md-offset-4" style="padding-bottom: 30px;">
            <p class="text">In a warehouse you obtain 20% discount but you must pay a 15% sales tax.
                Which would you prefer to have calculated first: discount or tax?
            </p>
        </div>
    </div>

    <div class="row">
        <div>
            <p class="textSpace">How to tackle this?</p>
        </div>
        <div class="divBox col-md-4 col-md-offset-4">
            <p class="text">To make progress,you must be clear what the question is asking, but this may not fully emerge
                until you’ve done a bit of doodling. The best way to start is by trying some specific cases.
            </p>
            <span class="glyphicon glyphicon-question-sign popover-hide" title="Tip #1" data-container="body"
                data-toggle="popover" data-placement="top"
                data-content="It's easy when you plug 100 into the equation">
            </span>
        </div>
    </div>

    <div class="row ">
        <p class="textSpace">Your asking what's the point of this?</p>
        <div class="divTwo col-lg-12">
            <div class="col-md-8 col-md-offset-2">
                <div class="row divBorder ">&nbsp;</div>
                <blockquote>
                    <p id="finish" class="quoteType">
                        "By doing examples you make the question meaningful to yourself
                        and you may also begin to see an underlying pattern in all the special cases
                        which will be the clue to resolving the question completely."
                    </p>
                    <p id="Start">
                        <small class="quotePos">Thinking Mathematically, Mason, John</small>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="row col-md-6 col-md-offset-3">
        <img id="firstImg" class="img-responsive center-block img" src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/xxxScroll_zps99pek0fy.png" border="0" alt=" Click Me!"/>
        <img id="secondImg" class="img-responsive center-block imgSolution" src="http://i1302.photobucket.com/albums/ag137/sebastian_jankowski1/a87aafc6-7977-44f8-a256-0a988b307efa_zpsgly5bvv7.png" border="0" alt=" Solution"/>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p class="textSpace">Do you see any pattern?</p>
        <div class="divBox">
            <p id="startBulb" class="textDiv">
                Discount first: you pay 1.15 x (0.80 x £100)
                Tax first: you pay 0.80 x (1.15 x £100)
                <div class="row">&nbsp;</div>
            </p>
            </div>
        </div>

    </div>


    <div class="row">
        <p class="bulbSpacing"></p>
        <div class="divThree">
            <div class="animation bulb">
                <img id="black" src="http://www.hutchhouse.com/wp-content/themes/hutchhouse-blue-steel/img/approach/bulb-on.png">
                <img id="light" class="active" src="http://www.hutchhouse.com/wp-content/themes/hutchhouse-blue-steel/img/approach/bulb-off.png">
            </div>
            <p class="textTwo col-md-4 col-md-offset-4">
                Notice the value of standing back from the detail of the calculation and looking
                at its form or shape. This sort of reflective activity is fundamental to
                developing your mathematical thinking.
            </p>
        </div>
    </div>


    <div class="row divFour">
        <div class="col-md-4 col-md-offset-4">
            <p class="text">
                So what did we learn?
            </p>
        </div>
        <div class="glyphiconTopSpacing col-md-4 col-md-offset-4">
            <span class="glyphicon glyphicon-search popover-hide glyphiconSideSpacing" title="Tip #2" data-container="body"
                          data-toggle="popover" data-placement="bottom"
                          data-content="Always use cases: What happens when..">
            </span>
            <span class="glyphicon glyphicon-pencil popover-hide glyphiconSideSpacing" title="Tip #3" data-container="body"
                          data-toggle="popover" data-placement="bottom"
                          data-content="Starting writing some answers down!">
            </span>
            <span class="glyphicon glyphicon-zoom-in popover-hide" title="Tip #4" data-container="body"
                          data-toggle="popover" data-placement="bottom"
                          data-content="Think what the question is asking you to do">
            </span>
            <div>
                <p class="text">Checkout what other user said about this problem</p>
                <a class="btn btn-primary center-block" href="#/home">Discussion Room</a>
            </div>
        </div>

    </div>
</div>