<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-3 col-md-2 sidebar navbar-custom navbarDash ">
            <ul class="nav nav-sidebar ">
                <li class="active"><a href="#/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="#/beginning">Lectures</a></li>
                <li><a href="#/takeQuiz">Quiz</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#/createQuiz">Create Quiz</a></li>
                <li><a href="#/takeQuiz">Take a Quiz</a></li>
                <li><a href="#/beginning">Rapid Revision - Beginner</a></li>
                <li><a href="#/creativity">Rapid Revision - Creativity</a></li>

            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#/home">Community</a> </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header" ng-controller="NavCtrl">Dashboard: {{ user.username }}</h1>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-if="dataReady">
            <barchart data="{{dataGraph}}"></barchart>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="form-group">
                <label for="exampleInputEmail1">Enter result:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ng-model="result" placeholder="Result">
            </div>
            <button class="btn btn-primary" ng-click="submitResult()">Submit</button>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Result</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr data-ng-repeat="quizz in quizzes" >
                    <td>
                        {{quizz.id}}
                    </td>
                    <td>
                        {{quizz.quizz}}
                    </td>
                    <td>
                        {{quizz.created_at}}
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="deleteResult(quizz.id, $index)">Delete</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>