/*
* Created By Sebastian 3/3/2015
*
* Style for _welcome page / override some default bootstrap properties
*
*/


html,
body{
    height: 100%;
    width: 100%;
    font-family:Arial,sans-serif;
}

h1{
    font-size:50px;
}

/* Position text and button on center

   Also defines high of top layer (singType)
*/
.textPos{
    vertical-align: middle;
    width:100%;
    padding-top:4%;
    text-align:center;
}

.subHeadingsWelcome{
    color: #2980b9;
    font-style: italic;
    text-align: left;
    text-shadow: 0 1px 0 #525252,
    0 1px 0 #575757,
    0 2px 0 #414141,
    0 2px 0 #484848,
    0 3px 0 #3c3c3c,
    0 3px 1px rgba(0,0,0,.1),
    0 0 3px rgba(0,0,0,.1),
    0 1px 2px rgba(0,0,0,.3),
    0 1px 2px rgba(0,0,0,.2),
    0 3px 5px rgba(0,0,0,.25),
    0 5px 5px rgba(0,0,0,.2),
    0 5px 5px rgba(0,0,0,.15);
}

.sub-main-heading{
    color: #fff;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 1px 0 #bbb,
    0 1px 0 #b9b9b9,
    0 2px 0 #aaa,
    0 2px 1px rgba(0,0,0,.1),
    0 0 2px rgba(0,0,0,.1),
    0 1px 1px rgba(0,0,0,.3),
    0 1px 1px rgba(0,0,0,.2),
    0 1px 3px rgba(0,0,0,.25),
    0 3px 3px rgba(0,0,0,.2),
    0 3px 3px rgba(0,0,0,.15);
}

.signType h1{
    font-size:80px;
    -webkit-text-stroke: 1px rgba(f,f,f,0.1);
    color:#fff;
    margin-left:-5px;
    margin-bottom:5px;
    text-transform:uppercase;
}

.sub-head-text{
    color: #2980b9;
    font-size: 20px;
    font-style: italic;
}

.signType{
    height: 80%;
}

.signMiddleType{
    color: #2980b9;
    font-size: 50px;
    text-transform: uppercase;
}

.alt{
    background-color: #2980b9;
}


/*
   Backgorund shades
*/
.backShade {
    padding: 120px 0;
    background-color: #fff;
}

.testFrame{
    color: #3498db;
    background-color: #3498db;
}

.backShade .panel {
    background-color:transparent;
}

.bright {
    background: #f39c12;
    color:#fff;
}

.panel-body {
    background:#fff;
}


.inBox-text{
    color: #3182bd

}

.imgGlob{
    width: 500px;
    height: 500px;
}

.footerLink{
    color: #000000;
}